/******************************************************************************************
* File name: addRestaurant.css
* Purpose: Provides styles to be applied to sections in "addRestaurant.php"
* Author: Rhys Hall
* Group Name: Centaur Logic
* Created: February 25, 2015
******************************************************************************************/


#pageName{
	background-color: #3385FF;
	text-align: center;
	padding: 8px 0px 8px 0px;
}

h2.white{
	color: white;
}

h4.white{
	color: white;
}

#content{
	padding: 0px 0px 0px 25px; 
}

#instructionsText{
	background-color: #3385FF;
	width: 605px;
	font-size: 120%;
}

#instructions{
	color: white;
	padding: 70px 0px 50px 225px;
}

#restaurantNameText{
	background-color: #3385FF;
	padding: 0px 0px 0px 15px;
	width: 170px;
}

#restaurantName{
	padding: 0px 0px 35px 0px;
}

#addressText{
	background-color: #3385FF;
	padding: 0px 0px 0px 15px;
	width: 90px;
}
#address{
	padding: 0px 0px 35px 0px;
}

#featuresText{
	background-color: #3385FF;
	padding: 0px 0px 0px 15px;
	width: 100px;
}

#features{
	padding: 0px 0px 35px 0px;
	color: red;
}

#priceRangeText{
	background-color: #3385FF;
	padding: 0px 0px 0px 18px;
	width: 130px;
}

#priceRange{
	padding: 0px 0px 35px 0px
}

#hoursText{
	background-color: #3385FF;
	padding: 0px 0px 0px 17px;
	width: 82px;
}

#hours{
	padding: 0px 0px 35px 0px;
	color: black;
}

#aboutText{
	background-color: #3385FF;
	padding: 0px 0px 0px 15px;
	width: 105px;
}

#about{
	padding: 0px 0px 35px 0px;
}

#websiteText{
	background-color: #3385FF;
	padding: 0px 0px 0px 15px;
	width: 120px;
}

#website{
	padding: 0px 0px 35px 0px;
}

#buttons{
	padding: 20px 0px 5px 150px;
	color: black;
}

#submitButton{
	width: 75px;
	height: 28px;
}
